{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/payoff_outcome.css' %}">
<link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
<link rel="stylesheet" href="{% static 'global/css/custom_font.css' %}">
{% endblock %}

{% block content %}
  <div class="outcome-header lottery-header">
    <h2 class="text-center">Task I Payoff</h2>
  </div>
  <div class="text-center">
    <span>
      Your Payoff for Task I was: <b>{{ bid_earnings_dollars }} (<span class="credits">C</span>{{bid_earnings_credits}})</b>.
    </span>
  </div>

  <div class="outcome-header lottery-header">
    <h2 class="text-center">Task II Payoff</h2>
  </div>
  <div class="text-center">
    <span>
      Your Payoff for Task II was: <b>{{ guess_earnings_dollars }} (<span class="credits">C</span>{{guess_earnings_credits}})</b>.
    </span>
  </div>

<div class="outcome-header lottery-header">
  <h2 class="text-center">Total Payoff</h2>
</div>
<div class="text-center">
    <p>
      Your total payment in dollars is <b>{{ final_payment }}</b>.<br>
      It consists of:<br>
      $10 Participation fee
      + $12 endowment
      + {{ bid_earnings_dollars }} Task I
      + {{ guess_earnings_dollars }} Task II
    </p>
</div>
{% next_button %}
{% endblock %}
