{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
<link rel="stylesheet" href="{% static 'global/css/progress.css' %}">

<link rel="stylesheet" href="{% static 'global/css/round_navbar.css' %}">
<link rel="stylesheet" href="{% static 'global/css/lottery_navbar.css' %}">
<link rel="stylesheet" href="{% static 'global/css/footer.css' %}">
<link rel="stylesheet" href="{% static 'global/css/custom_font.css' %}">

<link href='https://fonts.googleapis.com/css?family=Palanquin:500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'global/css/font-awesome.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/introjs.css" integrity="sha512-i+WzzATeaDcwcfi5CfLn63qBxrKqiQvDLC+IChU1zVlaPguPgJlddOR07nU28XOoIOno9WPmJ+3ccUInpmHxBg==" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'global/css/tooltip.css' %}">

{% endblock %}

  {% block content %}
  {% include 'global/LotteryRoundNavbar.html' %}
  <div class="grid-container" id="old-bid-info">
    <div id="lottery-ticket-signal">
      <div id="lottery-ticket">
        <div class="lottery-header">
          <h5 class="text-center"><u>Lottery of type {{ player.lottery_order }}</u></h5>
        </div>
        <div>
          <p>Consider the following lottery ticket with two possible prizes, 0 and a value v.</p>
        </div>
        {% include 'global/Lottery.html' %}
      </div>
      {% include 'global/YourSignal.html' %}
      {% include 'global/SignalInterpretation.html' %}
    </div>

    <div style="height: 100%;">
      <div class="d-flex flex-column align-items-center"  id="your-task">
        <div id="additional-information" class="pt-4">
          <div id="highest-signal-1" class="pt-4">
            <div class="lottery-header pb-3">
              <h5 class="text-center"><u>Your new info in Part II</u></h5>
            </div>
            <p><b>You are the bidder with the highest signal.</b></p>
          </div>
        </div>
      </div>
    </div>
</div>
<div id="new-bid-info">
  <div class="bid-grid">
    <div class="lottery-item">
      <div class="lottery-header">
        <h5 class="text-center"><u>Lottery of type {{ player.lottery_order }}</u></h5>
      </div>
      {% include 'global/Lottery.html' %}
      {% include 'global/YourSignal.html' %}
    </div>
    <div class="guess-item" id="your-guess">
      <div id="your-guess-container" class="worth-table text-center" style="display: flex; flex-direction: column;" >
        <p>
          Your own guess about the highest of the other 3 bids was:
        </p>
        <table class="table align-self-center" style="table-layout: fixed;" id="belief-table">
          <thead>
          <tr>
            <th>At Least</th>
            <th>Best</th>
            <th>At Most</th>
          </tr>
          </thead>
          <tr>
            <td>{{min_guess}}</td>
            <td>{{guess}}</td>
            <td>{{max_guess}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="hint-text-item">
      <div class="span-item highest-signal-item" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div id="highest-signal-2">
          <div class="lottery-header pb-3">
            <h5 class="text-center"><u>Your new info in Part II</u></h5>
          </div>
          <p><b>You are the bidder with the highest signal.</b></p>
        </div>
      </div>
    </div>
    <div id="hint-lottery-item">
      <div id="hint-lottery-container">
        <div id="lottery-ticket-info">
          <div id="right-top-ticket-info">
            <p>Given that your signal of {{player.signal4}} is the highest one, the lottery ticket
              is probably as follows:</p>
          </div>
          <div id="right-lottery">
            {% include 'global/RightLottery.html' %}
          </div>
        </div>
        <div id="lottery-expected-payoff">
          {% include 'global/LotteryInfo.html' %}
        </div>
      </div>
    </div>
  </div>

</div>
<div>
  <div id="your-bid" style="display: flex; flex-direction: column;">
    <div class="align-self-center">
      <h4>Your Bid</h4>
    </div>
    <div class="align-self-center">
      <input type="number" id="bid" name="bid" min="0" max="100" step="1"
             class="center-input form-control" value="" placeholder=""
             data-for="bid-selected-probability" disabled>
    </div>
  </div>
</div>
<button id="previous-btn" class="btn btn-success mb-3 otree-btn-next" type="button">previous</button>
<button id="next-btn" class="btn btn-primary mb-3 otree-btn-next" type="button">next</button>

<button id="otree-next-btn" class="otree-btn-next btn mb-3 btn-primary">Next</button>

{% include 'parttwo/BidInfoRereadInstructions.html' %}
{% endblock %}

{% block scripts %}
<script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/intro.min.js" integrity="sha512-QWPjvFqgUJv5X6Sq5NXmwJQSEzUEBxmCCcgqJd5/5luZnS6llRbshsChUNKrFlZ4bshKZEJxAHDB+WWdMsGvUA==" crossorigin="anonymous"></script>
<script>
  function showOldBidInfoWalkThrough() {
    introJs().setOptions({
      steps: [
        {
          title: '',
          intro: js_vars.lottery_ticket_signal,
          position: 'right',
          element: document.querySelector(('#lottery-ticket-signal'))
        },
        {
          title: '',
          intro: js_vars.highest_signal,
          position: 'left',
          element: document.querySelector(('#highest-signal-1'))
        },
      ]
    }).start();
  }

  function showNewBidInfoWalkThrough() {
  }

  function showGuessWalkThrough() {
    introJs().setOptions({
      steps: [
        {
          title: 'Your Guess',
          intro: js_vars.belief,
          position: 'left',
          element: document.querySelector(('#your-guess'))
        },
        {
          title: 'Benchmark 1: Your Guess',
          intro: js_vars.your_guess,
          position: 'right',
          element: document.querySelector(('#your-guess'))
        }
      ]
    }).start();

  }

  function showYourBidWalkThrough() {
    introJs().setOptions({
      steps: [
        {
          title: 'Your Bid',
          intro: js_vars.your_bid_one,
          position: 'left',
          element: document.querySelector(('#your-bid'))
        },
        {
          title: 'Your Bid (Continued)',
          intro: js_vars.your_bid_two,
          position: 'left',
          element: document.querySelector(('#your-bid'))
        },
      ]
    }).start();
  }

  function showExpectedLotteryWalkThrough() {
    introJs().setOptions({
      steps: [
        {
          title: 'The Expected Lottery',
          intro: js_vars.right_top_ticket_info,
          position: 'left',
          element: document.querySelector(('#right-top-ticket-info'))
        },
        {
          title: "The Lottery's Expected Payoff",
          intro: js_vars.lottery_expected_payoff,
          element: document.querySelector(('#lottery-expected-payoff'))
        },
        {
          title: "Benchmark 2: The Expected Lottery",
          intro: js_vars.right_lottery_info,
          element: document.querySelector(('#lottery-ticket-info'))
        },
      ]
    }).start();
  }

  let screenStates = {oldBidInfo: 0, newBidInfo: 1, benchmarkGuess: 2, benchmarkExpectedLottery: 3, bidInput: 4}
  let eventTypes = {next: 0, previous: 1};
  let screenState = screenStates.oldBidInfo;

  showOldBidInfoWalkThrough();

  $("#previous-btn").hide();
  $("#otree-next-btn").hide();
  $("#new-bid-info").hide();
  $("#your-bid").hide();
  $("#your-guess-container").addClass("hidden");
  $("#your-guess").addClass("highlight-background");

  $("#hint-lottery-container").addClass("hidden");
  $("#hint-lottery-item").addClass("highlight-background");

  function btnClickHandler(e, eventType, currentScreenState) {
    switch (currentScreenState) {
      case screenStates.oldBidInfo:
        switch (eventType) {
          case eventTypes.next:
            $("#old-bid-info").hide();
            $("#new-bid-info").fadeIn("slow", () => {
            $("#previous-btn").show();
            showNewBidInfoWalkThrough();
            });
            screenState = screenStates.newBidInfo
        }
        break;
      case screenStates.newBidInfo:
        switch (eventType) {
          case eventTypes.next:
            $("#your-guess-container").hide();
            $("#your-guess-container").removeClass("hidden");
            $("#your-guess").removeClass("highlight-background");
            $("#your-guess").addClass("rounded-border");
            $("#your-guess-container").fadeIn("slow", () => {
              showGuessWalkThrough();
            });
            screenState = screenStates.benchmarkGuess;
            break;
          case eventTypes.previous:
            $("#previous-btn").hide();
            $("#new-bid-info").fadeOut("slow", () => {
              $("#old-bid-info").fadeIn("slow")
            });
            screenState = screenStates.oldBidInfo;
        }
        break;
      case screenStates.benchmarkGuess:
        switch (eventType) {
          case eventTypes.next:
            $("#hint-lottery-container").hide();
            $("#hint-lottery-container").removeClass("hidden");
            $("#hint-lottery-item").removeClass("highlight-background");
            $("#hint-lottery-item").addClass("rounded-border");
            $("#hint-lottery-container").fadeIn("slow", () => {
              showExpectedLotteryWalkThrough();
            });
            screenState = screenStates.benchmarkExpectedLottery;
        }
        break;
      case screenStates.benchmarkExpectedLottery:
        console.log("benchmark expected lottery")
        switch (eventType) {
          case eventTypes.next:
            $("#your-bid").show()
            $("#your-bid").fadeIn("slow", () => {
              showYourBidWalkThrough();
            });
            $("#next-btn").hide();
            $("#otree-next-btn").show();
            screenState = screenStates.bidInput;
            break;
          case eventTypes.previous:
        }
        break;
      case screenState.bidInput:
        break;
    }
  }

  document.getElementById("next-btn").addEventListener('click', e => {
    console.log(`next ${screenState}`)
    btnClickHandler(e, eventTypes.next, screenState)
  });

  document.getElementById("previous-btn").addEventListener('click', e => {
    btnClickHandler(e, eventTypes.previous, screenState)
  });

</script>
{% endblock %}
