{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
<link rel="stylesheet" href="{% static 'global/css/progress.css' %}">

<link rel="stylesheet" href="{% static 'global/css/round_navbar.css' %}">
<link rel="stylesheet" href="{% static 'global/css/lottery_navbar.css' %}">
<link rel="stylesheet" href="{% static 'global/css/footer.css' %}">

<link href='https://fonts.googleapis.com/css?family=Palanquin:500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'global/css/font-awesome.css' %}">

<!--<link rel="stylesheet" href="{% static 'global/css/custom_font.css' %}">-->
<link rel="stylesheet" href="{% static 'global/css/nouislider.css' %}">
<link rel="stylesheet" href="{% static 'global/css/nouislider_small_tooltips.css' %}">
<link rel="stylesheet" href="{% static 'global/css/custom_nouislider.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/introjs.css" integrity="sha512-i+WzzATeaDcwcfi5CfLn63qBxrKqiQvDLC+IChU1zVlaPguPgJlddOR07nU28XOoIOno9WPmJ+3ccUInpmHxBg==" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'global/css/tooltip.css' %}">

<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
{% endblock %}

  {% block content %}
  {% include 'global/LotteryRoundNavbar.html' %}
<div id="bid-lottery-benchmark-container"  class="bid-grid-container">
  <div id="bid-lottery-benchmark-item" class="lottery-item">
    <div id="lottery-signal-interpretation-item">
      <div>
        <div class="lottery-header">
          <h5 class="text-center"><u>Lottery of type {{ player.lottery_order }}</u></h5>
        </div>
        {% include 'global/Lottery.html' %}
      </div>
      <div>
        {% include 'global/YourSignalAndInterpretation.html' %}
      </div>
    </div>
    <div id="highest-signal-item">
      <div id="highest-signal-container">
        <div class="lottery-header pb-3">
          <h5 class="text-center"><u>Your new info in part II</u></h5>
        </div>
        <div class="text-center">
          <span><b>You are the bidder with the highest signal.</b></span>
        </div>
      </div>
    </div>
    <div id="bid-item">
      <div id="bid-item-container" style="display: flex; flex-direction: column;">
        <div class="align-self-center">
          <h5>Your Bid</h5>
        </div>
        <div class="align-self-center">
          <input type="number" id="bid" name="bid" min="0" max="100" step="1"
                 class="center-input form-control" value="" placeholder=""
                 data-for="bid-selected-probability" disabled>
          <small class="text-muted">This is just a sample screen (click Next).</small>
        </div>
      </div>
    </div>
  </div>

  <div id="guess-expected-lottery-item">
    <div id="guess-item">
      <div id="guess-item-container">
        {% include 'global/GuessSlider.html' %}
      </div>
    </div>
    <div id="expected-lottery-item">
      <div id="expected-lottery-item-container">
        {% include 'global/ExpectedLotterySlider.html' %}
      </div>
    </div>
  </div>
</div>

<button id="previous-btn" class="btn btn-success mb-3 otree-btn-next" type="button">previous</button>
<button id="next-btn" class="btn btn-primary mb-3 otree-btn-next" type="button">next</button>

<button id="otree-next-btn" class="otree-btn-next btn mb-3 btn-primary">Next</button>

{% include 'parttwosample/BidRereadInstructions.html' %}
{% endblock %}

{% block scripts %}
<script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
<script   src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/intro.min.js" integrity="sha512-QWPjvFqgUJv5X6Sq5NXmwJQSEzUEBxmCCcgqJd5/5luZnS6llRbshsChUNKrFlZ4bshKZEJxAHDB+WWdMsGvUA==" crossorigin="anonymous"></script>
<script src="{% static 'global/js/wNumb.js' %}"></script>
<script src="{% static 'global/js/nouislider.js' %}"></script>
<script>
  /**
 * @param slider HtmlElement with an initialized slider
 * @param threshold Minimum proximity (in percentages) to merge tooltips
 * @param separator String joining tooltips
 */
function mergeTooltips(slider, threshold, separator) {

    var textIsRtl = getComputedStyle(slider).direction === 'rtl';
    var isRtl = slider.noUiSlider.options.direction === 'rtl';
    var isVertical = slider.noUiSlider.options.orientation === 'vertical';
    var tooltips = slider.noUiSlider.getTooltips();
    var origins = slider.noUiSlider.getOrigins();

    // Move tooltips into the origin element. The default stylesheet handles this.
    tooltips.forEach(function (tooltip, index) {
        if (tooltip) {
            origins[index].appendChild(tooltip);
        }
    });

    slider.noUiSlider.on('update', function (values, handle, unencoded, tap, positions) {

        var pools = [[]];
        var poolPositions = [[]];
        var poolValues = [[]];
        var poolTooltips = [[]];
        var atPool = 0;

        // Assign the first tooltip to the first pool, if the tooltip is configured
        if (tooltips[0]) {
            pools[0][0] = 0;
            poolPositions[0][0] = positions[0];
            poolValues[0][0] = values[0];
            poolTooltips[0][0] = tooltips[0].innerHTML;
        }

        for (var i = 1; i < positions.length; i++) {
            if (!tooltips[i] || (positions[i] - positions[i - 1]) > threshold) {
                atPool++;
                pools[atPool] = [];
                poolValues[atPool] = [];
                poolPositions[atPool] = [];
                poolTooltips[atPool] = [];
            }

            if (tooltips[i]) {
                pools[atPool].push(i);
                poolValues[atPool].push(values[i]);
                poolPositions[atPool].push(positions[i]);
                poolTooltips[atPool].push(tooltips[i].innerHTML)
            }
        }

        pools.forEach(function (pool, poolIndex) {
            var handlesInPool = pool.length;

            for (var j = 0; j < handlesInPool; j++) {
                var handleNumber = pool[j];

                if (j === handlesInPool - 1) {
                    var offset = 0;

                    poolPositions[poolIndex].forEach(function (value) {
                        offset += 1000 - 10 * value;
                    });

                    var direction = isVertical ? 'bottom' : 'right';
                    var last = isRtl ? 0 : handlesInPool - 1;
                    var lastOffset = 1000 - 10 * poolPositions[poolIndex][last];
                    offset = (textIsRtl && !isVertical ? 100 : 0) + (offset / handlesInPool) - lastOffset;

                    // Center this tooltip over the affected handles
                    tooltips[handleNumber].innerHTML = poolTooltips[poolIndex].join(separator);
                    tooltips[handleNumber].style.display = 'flex';
                    tooltips[handleNumber].style[direction] = offset + '%';
                } else {
                    // Hide this tooltip
                    tooltips[handleNumber].style.display = 'none';
                }
            }
        });
    });
}
</script>
<script>
  let guessSlider = document.getElementById('guess-slider');
  let expectedLotterySlider = document.getElementById('expected-lottery-slider');

  let creditFormatter = wNumb({
    decimals: 0,
    prefix: '<div style="display: inline; border: 1px solid #D9D9D9; border-radius: 3px; padding: 5px;"><span class="small-credits">C</span>',
    suffix: '</div>'
  })

  prob_style = (js_vars.is_value_treatment) ? 'text-primary':'text-success';
  value_style = (js_vars.is_value_treatment) ? 'text-success':'text-primary';

  expectedLotteryValues = [
    {
      value: 0,
      formatter: wNumb({
        decimals: 0,
        prefix: `<div style="display: inline; border: 1px solid #D9D9D9; border-radius: 3px; padding: 5px;"><span class="${prob_style}">${js_vars.one_minus_p}%</span><br><span class="${value_style}"><span class="small-credits">C</span>`,
        suffix: '</span></div>'
      })
    },
    {
      value: js_vars.exp_payoff,
      formatter: wNumb({
        decimals: 0,
        prefix: '<div style="display: inline; border: 1px solid #D9D9D9; border-radius: 3px; padding: 5px;"><span>Avg<br><span class="small-credits">C</span>',
        suffix: '</span></div>'
      })
    },
    {
      value: js_vars.exp_value,
      formatter: wNumb({
        decimals: 0,
        prefix: `<div id="expected-value-label" style="display: inline; border: 1px solid #D9D9D9; border-radius: 3px; padding: 5px;"><span><span class="${prob_style}">${js_vars.exp_value_prob}%</span><br><span class="${value_style}" ><span class="small-credits">C</span>`,
        suffix: '</span></span></div>'
      })
    }
  ]

  expectedLotteryValues.sort((a, b) => (a.value > b.value) ? 1 : -1)

  guessSlider.setAttribute('disabled', true) ;
  noUiSlider.create(guessSlider, {
    start: [js_vars.min_guess, js_vars.guess, js_vars.max_guess],
    direction: 'ltr',
    connect: true,
    step: 1,
    range: {
      'min': 0,
      'max': 100,
    },
    behaviour: 'tap-drag',
    tooltips: [false, creditFormatter, false],
    pips: {
      mode: 'values',
      values: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
      density: 1,
      stepped: true,
      format: wNumb({
        decimals: 0,
        prefix: '<span class="credits">C</span>',
      }),
    }
  });

  expectedLotterySlider.setAttribute('disabled', true);
  noUiSlider.create(expectedLotterySlider, {
    start: [expectedLotteryValues[0].value, expectedLotteryValues[1].value, expectedLotteryValues[2].value],
    direction: 'ltr',
    connect: false,
    step: 1,
    range: {
      'min': 0,
      'max': 100,
    },
    behaviour: 'tap-drag',
    tooltips: [expectedLotteryValues[0].formatter, expectedLotteryValues[1].formatter, expectedLotteryValues[2].formatter],
    pips: {
      mode: 'values',
      values: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
      density: 1,
      stepped: true,
      format: wNumb({
        decimals: 0,
        prefix: '<span class="credits">C</span>',
      }),
    }
  });
  mergeTooltips(expectedLotterySlider, 10, '');
</script>
<script>
  function showOldBidInfoWalkThrough() {
    introJs().setOptions({
      steps: [
        {
          title: '',
          intro: js_vars.part_one_lottery_info,
          position: 'right',
          element: document.querySelector(('#lottery-signal-interpretation-item'))
        },
      ]
    }).start();
  }

  function showNewInfoPartTwo(){
    introJs().setOptions({
      steps: [
        {
          title: '',
          intro: js_vars.highest_signal_info,
          position: 'left',
          element: document.querySelector(('#highest-signal-container'))
        },
      ]
    }).start();

  }

  function showBidInfo() {
    introJs().setOptions({
      steps: [
        {
          title: 'Your Bid',
          intro: js_vars.your_bid_one,
          position: 'left',
          element: document.querySelector(('#bid-item'))
        },
        {
          title: 'Your Bid (Continued)',
          intro: js_vars.your_bid_two,
          position: 'left',
          element: document.querySelector(('#bid-item'))
        },
      ]
    }).start();

  }

  function showBenchMarkInfo() {
    introJs().setOptions({
      steps: [
        {
          title: 'Benchmarks',
          intro: js_vars.benchmark_info,
          position: 'left',
          element: document.querySelector(('#guess-expected-lottery-item'))
        },
        {
          title: "Benchmark 1: Your guess about others' highest bid",
          intro: js_vars.benchmark_guess_info,
          position: 'left',
          element: document.querySelector(('#guess-item'))
        },
        {
          title: "Benchmark 2: The Expected Lottery",
          intro: js_vars.benchmark_expected_lottery_info,
          position: 'left',
          element: document.querySelector(('#expected-lottery-item'))
        },
        {
          title: `The Expected ${js_vars.selected_value_text}`,
          intro: js_vars.benchmark_expected_selected_value_info,
          position: 'left',
          element: document.querySelector(('#expected-value-label'))
        },
        {
          title: "The Expected Payoff",
          intro: js_vars.benchmark_expected_payoff_info,
          position: 'left',
          element: document.querySelector(('#expected-payoff-label'))
        },
        {
          title: "Benchmark 2: The Expected Lottery (continued)",
          intro: js_vars.benchmark_expected_lottery_continued_info,
          position: 'left',
          element: document.querySelector(('#expected-lottery-item'))
        },
      ]
    }).start();
  }

  let screenStates = {signalLottery: 0, yourNewInfo: 1, bidInfo: 2, benchmarks: 3}
  let eventTypes = {next: 0, previous: 1};
  let screenState = screenStates.signalLottery;

  showOldBidInfoWalkThrough();

  $("#previous-btn").hide();
  $("#otree-next-btn").hide();
  $("#new-bid-info").hide();
  $("#your-bid").hide();

  // $("#bid-lottery-benchmark-container").hide();
  $("#bid-input").hide();

  $("#guess-item-container").addClass("hidden");
  $("#guess-item").addClass("highlight-background");

  $("#highest-signal-container").addClass("hidden");
  $("#highest-signal-item").addClass("highlight-background");

  $("#expected-lottery-item-container").addClass("hidden");
  $("#expected-lottery-item").addClass("highlight-background");

  $("#bid-item-container").addClass("hidden");
  $("#bid-item").addClass("highlight-background");
  function btnClickHandler(e, eventType, currentScreenState) {
    switch (currentScreenState) {
      case screenStates.signalLottery:
        if (eventType === eventTypes.next) {
          $("#highest-signal-container").hide();
          $("#highest-signal-container").removeClass("hidden");
          $("#highest-signal-item").removeClass("highlight-background");
          $("#highest-signal-container").fadeIn("slow", () => {
            showNewInfoPartTwo();
          });
          screenState = screenStates.yourNewInfo;
        }
        break;
      case screenStates.yourNewInfo:
        if (eventType === eventTypes.next) {
            $("#bid-item-container").hide()
            $("#bid-item-container").removeClass("hidden");
            $("#bid-item").removeClass("highlight-background");
            $("#bid-item-container").fadeIn("slow", () => {
              showBidInfo();
            });
          screenState = screenStates.bidInfo;
        }
        break;
      case screenStates.bidInfo:
        if (eventType === eventTypes.next) {
          $("#guess-item-container").hide();
          $("#guess-item-container").removeClass("hidden");
          $("#guess-item").removeClass("highlight-background");
          $("#guess-item-container").fadeIn("slow", () => {
          });

          $("#expected-lottery-item-container").hide()
          $("#expected-lottery-item-container").removeClass("hidden")
          $("#expected-lottery-item").removeClass("highlight-background");
          $("#expected-lottery-item-container").fadeIn("slow", () => {
            showBenchMarkInfo();
          });

          $("#next-btn").hide();
          $("#otree-next-btn").show();
          screenState = screenStates.benchmarks;
        }
        // Previous
        else {
          // $("#previous-btn").hide();
          // $("#new-bid-info").fadeOut("slow", () => {
          // $("#old-bid-info").fadeIn("slow")
          // });
          // screenState = screenStates.signalLottery;
        }
        break;
    }
  }

  document.getElementById("next-btn").addEventListener('click', e => {
    console.log(`next ${screenState}`)
    btnClickHandler(e, eventTypes.next, screenState)
  });

  document.getElementById("previous-btn").addEventListener('click', e => {
    btnClickHandler(e, eventTypes.previous, screenState)
  });

</script>
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
{% endblock %}
