{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
<link rel="stylesheet" href="{% static 'global/css/progress.css' %}">

<link rel="stylesheet" href="{% static 'global/css/round_navbar.css' %}">
<link rel="stylesheet" href="{% static 'global/css/lottery_navbar.css' %}">
<link rel="stylesheet" href="{% static 'global/css/footer.css' %}">
<link rel="stylesheet" href="{% static 'global/css/custom_font.css' %}">

<link href='https://fonts.googleapis.com/css?family=Palanquin:500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'global/css/font-awesome.css' %}">

<link rel="stylesheet" href="{% static 'global/css/nouislider.css' %}">
<link rel="stylesheet" href="{% static 'global/css/custom_nouislider.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/introjs.css" integrity="sha512-i+WzzATeaDcwcfi5CfLn63qBxrKqiQvDLC+IChU1zVlaPguPgJlddOR07nU28XOoIOno9WPmJ+3ccUInpmHxBg==" crossorigin="anonymous" />
<link rel="stylesheet" href="{% static 'global/css/tooltip.css' %}">
{% endblock %}

{% block content %}
  {% include 'global/LotteryRoundNavbar.html' %}
  <div class="bid-grid-container">
    <div class="lottery-item">
      <div class="lottery-header">
        <h5 class="text-center"><u>Lottery of type {{ player.lottery_order }}</u></h5>
      </div>
      {% include 'global/Lottery.html' %}
      {% include 'global/YourSignalAndInterpretation.html' %}
      <div id="">
        <div class="lottery-header pb-3">
          <h5 class="text-center"><u>Your new info in Part II</u></h5>
        </div>
        <div class="text-center">
          <span><b>You are the bidder with the highest signal.</b></span>
        </div>
      </div>
    </div>
    <div id="guess-expected-lottery-item">
      <div id="guess-item">
        {% include 'global/GuessSlider.html' %}
      </div>
      <div id="expected-lottery-item">
        {% include 'global/ExpectedLotterySlider.html' %}
      </div>
    </div>
  </div>

  <div>
    <div id="your-bid" style="display: flex; flex-direction: column;">
      <div class="align-self-center">
        <h4>Your Bid</h4>
      </div>
      <div class="align-self-center">
        <input type="number" id="bid" name="bid" min="0" max="100" step="1"
               class="center-input form-control" value="{{ form.bid.object_data }}" placeholder=""
               data-for="bid-selected-probability" required>
      </div>
      {% if form.bid.errors %}
      <div class="alert alert-danger align-self-center">
        {{ form.bid.errors }}
      </div>
      {% endif %}
    </div>
    <div style="display: flex; flex-direction: column;">
      <div class="btn-container align-self-center">
        <button class="otree-btn-next btn btn-primary">Next</button>
      </div>
    </div>
  </div>
  {% include 'partonesample/BidRereadInstructions.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'global/js/wNumb.js' %}"></script>
<script src="{% static 'global/js/nouislider.js' %}"></script>
<script>
  let guessSlider = document.getElementById('guess-slider');
  let expectedLotterySlider = document.getElementById('expected-lottery-slider');

  let creditFormatter = wNumb({
    decimals: 0,
    prefix: '<span class="credits">C</span>',
  })

  // let creditFormatter = {
  //   to: function(value) {
  //     return '<span class="credits">C</span>' + value;
  //   },
  //   from: function(value) {
  //     let dollar_value = value.split(" (")[0].slice(1)
  //     return Number(dollar_value)
  //   },
  // }

  prob_style = (js_vars.is_value_treatment) ? 'text-primary':'text-success';
  value_style = (js_vars.is_value_treatment) ? 'text-success':'text-primary';

  expectedLotteryValues = [
    {
      value: 0,
      formatter: wNumb({
        decimals: 0,
        prefix: `<span class="${prob_style}">${js_vars.one_minus_p}%</span>: <span class="credits">C</span>`
      })
    },
    {
      value: js_vars.exp_payoff,
      formatter: wNumb({
        decimals: 0,
        prefix: 'Avg: <span class="credits">C</span>',
      })
    },
    {
      value: js_vars.exp_value,
      formatter: wNumb({
        decimals: 0,
        prefix: `<span class="${prob_style}">${js_vars.exp_value_prob}%</span>: <span class="credits">C</span>`,
      })
    }
  ]

  expectedLotteryValues.sort((a, b) => (a.value > b.value) ? 1 : -1)

  guessSlider.setAttribute('disabled', true) ;
  noUiSlider.create(guessSlider, {
    start: [js_vars.min_guess, js_vars.guess, js_vars.max_guess],
    direction: 'ltr',
    connect: true,
    step: 1,
    range: {
      'min': 0,
      'max': 100,
    },
    behaviour: 'tap-drag',
    tooltips: [creditFormatter, creditFormatter, creditFormatter],
    pips: {
      mode: 'values',
      values: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
      density: 1,
      stepped: true,
      format: wNumb({
        decimals: 0,
        prefix: '<span class="credits">C</span>',
      }),
    }
  });

  expectedLotterySlider.setAttribute('disabled', true);
  noUiSlider.create(expectedLotterySlider, {
    start: [expectedLotteryValues[0].value, expectedLotteryValues[1].value, expectedLotteryValues[2].value],
    direction: 'ltr',
    connect: false,
    step: 1,
    range: {
      'min': 0,
      'max': 100,
    },
    behaviour: 'tap-drag',
    tooltips: [expectedLotteryValues[0].formatter, expectedLotteryValues[1].formatter, expectedLotteryValues[2].formatter],
    pips: {
      mode: 'values',
      values: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
      density: 1,
      stepped: true,
      format: wNumb({
        decimals: 0,
        prefix: '<span class="credits">C</span>',
      }),
    }
  });

  // mergeTooltips(expectedLotterySlider, 15, ' - ');

</script>
<script>
  let alertList = document.querySelectorAll('.alert')
  alertList.forEach(function (alert) {
    new bootstrap.Alert(alert)
  })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/intro.min.js" integrity="sha512-QWPjvFqgUJv5X6Sq5NXmwJQSEzUEBxmCCcgqJd5/5luZnS6llRbshsChUNKrFlZ4bshKZEJxAHDB+WWdMsGvUA==" crossorigin="anonymous"></script>
{% endblock %}
