{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Part II
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<p>
  You will now begin Part One of the experiment. From now on, every single decision of yours might be relevant for your final payment.
</p>
<p>
  You will now start Part II of the experiment. Part II consists also of 20 rounds.
</p>
<p>
  In these 20 rounds, you will see the same lottery tickets than in the 20 rounds of Part I, but now we ask you to place
  a bid for each of the lottery tickets. After you have submitted your bid, you will learn what the actual lottery ticket
  was, the highest bid in the auction, whether or not you won the auction and your payoff in the auction.
</p>

{% next_button %}
{% endblock %}
