.noUi-horizontal .noUi-handle {
    width: 5px;
    height: 28px;
    right: -2.5px;
    top: -6px;
}

.noUi-handle::before, .noUi-handle::after {
    content: none;
}

.grid-tooltip-container {
    display: flex;
    flex-direction: row;
}

.noUi-horizontal .noUi-tooltip {
    display: flex;
}

.noUi-tooltip {
    border: none !important;
    padding: 0 !important;
}
