{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/css/bid.css' %}">
<link rel="stylesheet" href="{% static 'global/css/custom_font.css' %}">
<link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
<link href="https://unpkg.com/@videojs/themes@1/dist/forest/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div>
  {% include 'partonesample/Instructions.html' %}

  {% next_button %}
</div>
{% endblock %}
{% block scripts %}
  <script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
{% endblock %}

