{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
  {% include 'global/QuestionCSS.html' %}
{% endblock %}

{% block content %}

  {% include 'global/LotteryRoundNavbar.html' %}

  <div class="grid-container">
    <div>
      <div class="lottery-header">
        <h4 class="text-center"><u>Lottery of type {{ player.lottery_order }}</u></h4>
      </div>
      <div>
        <p>Consider the following lottery ticket with two possible prizes,
          0 and a value v.</p>
      </div>

      {% include 'global/Lottery.html' %}

      {% include 'global/YourSignal.html' %}

      {% include 'global/SignalInterpretation.html' %}

    </div>

    <div>
      <div id="task">
        <div>
          <div class="pb-2 pt-4">
            <h5>What do you think is the highest bid among the three other bids?</h5>
          </div>

          <div id="question">
            <h5>Choose an interval for your guess.</h5>
          </div>
        </div>

        <div id="slider-table">
          <div id="slider">
          </div>

          <div class="worth-table" id="guess-table">
            <table style="table-layout: fixed; width: 100%">
              <thead>
              <tr>
                <th class="text-center">
                </th>
                <th class="text-center">
                  <span>At Least</span>
                </th>
                <th class="text-center">
                  <span>Best</span>
                </th>
                <th>
                  <span>At Most</span>
                </th>
              </tr>
              </thead>
              <tr>
                <th>
                  <span>Highest of other 3 bids</span>
                </th>
                <td class="text-center">
                  <input type="number" id="id_min_guess" name="min_guess" min="0" max="100" step="1"
                         class="center-input form-control" value=""
                         placeholder="" data-for="min-selected-probability" data-handle="0" readonly="readonly">

                </td>
                <td class="text-center">
                  <input type="number" id="id_bid" name="guess" min="0" max="100" step="1"
                         class="center-input form-control" value="" placeholder=""
                         data-for="bid-selected-probability" data-handle="1" readonly="readonly">

                </td>
                <td class="text-center">
                  <input type="number" id="id_max_guess" name="max_guess" min="0" max="100" step="1"
                         class="center-input form-control" value="" placeholder=""
                         data-for="max-selected-probability" data-handle="2" readonly="readonly">

                </td>
              </tr>
              <tr>
                <td></td>
                <td colspan="3">
                  <div id="min_guess_error"></div>
                  <div id="guess_error"></div>
                  <div id="max_guess_error"></div>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
      <div>
        {% next_button %}
      </div>

    </div>
  </div>

{% endblock %}

{% block scripts %}
<script src="{% static 'global/js/wNumb.js' %}"></script>
<script src="{% static 'global/js/nouislider.js' %}"></script>
<script>
  let alertList = document.querySelectorAll('.alert')
  alertList.forEach(function (alert) {
    new bootstrap.Alert(alert)
  })

  /**
   * Global Variables
   */
  let slider = document.getElementById('slider');


  let minWorthInput = document.getElementById('id_min_guess');
  let worthInput = document.getElementById('id_bid');
  let maxWorthInput = document.getElementById('id_max_guess');

  let minWorthError = document.getElementById('min_guess_error');
  let worthError = document.getElementById('guess_error');
  let maxWorthError = document.getElementById('max_guess_error');

  let inputElements = [minWorthInput, worthInput, maxWorthInput];
  let errorElements = [minWorthError, worthError, maxWorthError];
  let handlesHiddenState = [true, true, true];

  /**
   * Utility Functions
   */
  function isInteger(valStr) {
    return !isNaN(valStr) && Number.isInteger(parseFloat(valStr));
  }

  let sliderTooltipFormatter = {
      to: function(value) {
        return '<span class="credits">C</span>' + value;
      },
      from: function(value) {
        let dollar_value = value.split(" (")[0].slice(1)
        return Number(dollar_value)
      },
  }

  noUiSlider.create(slider, {
      start: [js_vars.guess, js_vars.guess, js_vars.guess],
      direction: 'ltr',
      connect: true,
      step: 1,
      range: {
          'min': 0,
          'max': 100,
      },
      behaviour: 'tap-drag',
      tooltips: [sliderTooltipFormatter, sliderTooltipFormatter, sliderTooltipFormatter],
      pips: {
          mode: 'values',
          values: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100],
          density: 1,
          stepped: true,
          format: wNumb({
            decimals: 0,
            prefix: '<span class="credits">C</span>',
          }),
      }
  });

  function updateInputValue(handle, value) {
    inputElements[handle].value = parseInt(value);
  }

  function displayHandleIfHidden(handle) {
    if (handlesHiddenState[handle]) {
      handlesHiddenState[handle] = false;
      document.getElementsByClassName('noUi-handle')[handle].style.display = "block";
    }
  }

  function handleSliderSlide(values, handle){
    displayHandleIfHidden(handle);
    updateInputValue(handle, values[handle]);
  }

  function handleSliderSet(values, handle) {
    displayHandleIfHidden(handle);
  }

  function validateInput(value, handle) {
    let minWorthValue = parseInt(inputElements[0].value);
    let worthValue = parseInt(inputElements[1].value);
    let maxWorthValue = parseInt(inputElements[2].value);

    if (handle === 0 && value < 0) {
      return {isValid: false, resetValue: worthValue, errorMessage: `Your "At Least" value must be greater than zero.`};
    }
    else if (handle === 0 && value > worthValue) {
      return {isValid: false, resetValue: worthValue, errorMessage: `Your "At Least" value must be less than or equal to your "Best" value.`};
    }
    else if (handle === 1 && value < minWorthValue) {
      return {isValid: false, resetValue: minWorthValue, errorMessage: `Your "Best" value must be greater than or equal to your "At Least" value.`};
    }
    else if (handle === 1 && value > maxWorthValue ) {
      return {isValid: false, resetValue: maxWorthValue, errorMessage: `Your "Best" value must be less than or equal to your "At Most" value.`};
    }
    else if (handle === 2 && value < worthValue) {
      return {isValid: false, resetValue: worthValue, errorMessage: `Your "At Most" value must be greater than your "Best" value.`};
    }
    else if (handle === 2 && value > 100) {
      return {isValid: false, resetValue: 100, errorMessage: `Your "At most" value must be greater than 100.`};
    }
    else {
      return {isValid: true, errorMessage: ''};
    }
  }

  function updateSliderHandleOnInputFieldChange(element) {
    let handleId = parseInt(element.dataset.handle);
    let inputString = element.value

    if (!isInteger(inputString)) {
      return;
    }

    let inputValue = parseInt(inputString);

    let inputValidation = validateInput(inputValue, handleId)
    if (!inputValidation.isValid) {
      errorElements[handleId].innerHTML = `<small class="is-invalid text-danger">${inputValidation.errorMessage}</small>`;
    }
    else {
      errorElements[handleId].innerHTML = '';
    }

    let handleValues = [null,null,null].map((e, i) => {
      if (i === handleId) {
        if (!inputValidation.isValid) {
          return inputValidation.resetValue;
        }
        else {
          return inputValue;
        }
      }
      else {
        return e;
      }
    })
    console.log(handleValues)

    slider.noUiSlider.set(handleValues);
  }

  slider.noUiSlider.on('set', handleSliderSet)
  slider.noUiSlider.on('slide', handleSliderSlide)

  handlesHiddenState.forEach((isHidden, handle) => {
    if (isHidden) {
      document.getElementsByClassName('noUi-handle')[handle].style.display = "none";
    }
  })

  worthInput.addEventListener("keyup", (event) => {
    updateSliderHandleOnInputFieldChange(event.target);
  })
  minWorthInput.addEventListener("keyup", (event) => {
    updateSliderHandleOnInputFieldChange(event.target);
  })
  maxWorthInput.addEventListener("keyup", (event) => {
    updateSliderHandleOnInputFieldChange(event.target);
  })

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.4.0/intro.min.js" integrity="sha512-QWPjvFqgUJv5X6Sq5NXmwJQSEzUEBxmCCcgqJd5/5luZnS6llRbshsChUNKrFlZ4bshKZEJxAHDB+WWdMsGvUA==" crossorigin="anonymous"></script>
<script>
  if (js_vars.display_intro) {
    introJs().setOptions({
      steps: [
        {
          title: 'Interval',
          intro: js_vars.interval_part_one,
          position: 'left',
          element: document.querySelector(('#question'))
        },
        {
          title: 'Interval (Continued)',
          intro: js_vars.interval_part_two,
          position: 'left',
          element: document.querySelector(('#question'))
        },
        {
          title: 'Interval Limits',
          intro: js_vars.interval_limits,
          position: 'left',
          element: document.querySelector(('#slider-table'))
        },
      ]
    }).start()

  }
</script>
{% endblock %}
