{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'global/css/outcome.css' %}">
  <link rel="stylesheet" href="{% static 'global/css/custom_font.css' %}">
{% endblock %}

{% block content %}
  <div>
    <h3 class="text-center pt-3 pb-1">Your Payoff</h3>
    <p>
      After you have completed all 20 rounds, the computer will randomly select one out of the 20 auctions,
      with each auction being equally likely to be selected. Your total earnings in the selected auction will be the
      sum of your earnings from your guess about the highest of the other three bids (Part I) and your earnings from
      bidding in the auction (Part II). You should therefore in each of the 20 auctions choose your guess and bid
      carefully as if it were the ones that will determine your payoff.
    </p>
  </div>

  <div class="pt-2 pb-1">
    <h3 class="text-center">Your Payment in the Experiment</h3>
  </div>
<div>
  <p>
    At the end of the experiment your payoff in credits (<span class="credits">C</span>) will be converted into dollars
    with an exchange rate of $1 for <span class="credits">C</span>6. In addition, you will receive a participation fee
    of $10 and an endowment of $12. Negative earnings (losses) will be subtracted from your endowment of $12.
  </p>
  <p>
    Hence, your payment will be calculated as follows:
  </p>
  <p>
    Payment = $10 participation fee + $12 endowment + Payoff in Auction (in $)
  </p>
</div>
<div>
  <p>
    You have now completed the instructions. Please send the experimenter a message if you have a question.
    Otherwise click on the button “NEXT" to complete a short comprehension quiz.
  </p>
</div>


    {% next_button %}
{% endblock %}
