<div id="expected-lottery-info" class="rounded-border">
  <div class="text-center">
    <h5><u>The expected lottery</u></h5>
  </div>
  <div id="expected-lottery-slider">
  </div>
  <div class="px-3">
    <p>
      {% if player.is_value_treatment %}
        Given that your signal is the highest one, the lottery pays either
        <b><span class="text-success"><span class="credits">C</span>0</span></b> or
        an expected Selected Value of <b><span class="text-success"><span class="credits">C</span>{{player.up_ticket}}</span></b>
        on average, it would pay out <span id="expected-payoff-label"><b><span class="credits">C</span>{{player.prep_worth}}</b>
        (={{player.up_ticket}}x{{player.fixed_value}}/100)</span>.
      {% else %}
      Given that your signal is the highest one, the lottery pays an expected Selected Value of
      <b><span class="text-primary"><span class="credits">C</span>{{player.fixed_value}}</span></b> with a
      <b><span class="text-success">{{ player.up_ticket }}%</span></b> probability. Thus, on average, it would pay out
      <span id="expected-payoff-label"><b><span class="credits">C</span>{{player.prep_worth}}</b>
      (={{player.fixed_value}}x{{player.up_ticket}}/100).</span>
      {% endif %}
    </p>
  </div>
</div>
{% if player.is_value_treatment %}
{% endif %}
